<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="15">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Sensors Dashboard</title>
</head>
<body>
<h1>Sensors Data (Live Dashboard)</h1>
<table>
    <tr>
        <th>Sensor</th>
        <th>Date</th>
        <th>Time</th>
        <th>Reading</th>
        <th>Average</th>
    </tr>

    {% for (sensor, date), readings in data_store.items() %}
        {% set avg = (readings | map(attribute=1) | sum) / (readings | length) %}
        {% set rows_count = readings | length %}
        {% set first_time, first_value = readings[0] %}

        <tr>
            <td rowspan="{{ rows_count }}">{{ sensor }}</td>
            <td rowspan="{{ rows_count }}">{{ date }}</td>
            <td>{{ first_time }}</td>
            <td>{{ first_value }}</td>
            <td rowspan="{{ rows_count }}">{{ "%.2f"|format(avg) }}</td>
        </tr>

        {% for time_, value in readings[1:] %}
            <tr>
                <td>{{ time_ }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    {% endfor %}

</table>
</body>
</html>
